<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加房源</title>
    <!-- 3.3.7版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<!-- 顶部栏调用 -->
<div th:replace="comnent/bars::topbar"></div>
<!-- 主体部分 -->
<div class="container-fluid">
    <div class="row">
        <!--侧边栏调用-->
        <div th:replace="comnent/bars::sidebar(textmutedUrl = 'addhouse')"></div>
        <!--右侧主体部分-->
        <!--jumbotron:将div整个模块的背景变为灰色-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="jumbotron d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <form class="form-horizontal" th:action="@{/emp}" method="post">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">房子地址</label>
                        <div class="col-sm-4">
                            <input th:name="Address" th:class="form-control" th:id="Address" th:placeholder="房子地址">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">月租</label>
                        <div class="col-sm-4">
                            <input th:name="Monthlyrent" th:class="form-control" th:id="Monthlyrent" th:placeholder="月租">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">描述</label>
                        <div class="col-sm-4">
                            <input th:name="Detail" th:class="form-control" th:id="Detail" th:placeholder="描述">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label">面积</label>
                        <div class="col-sm-4">
                            <input th:name="Area" th:class="form-control" th:id="Area" th:placeholder="面积">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-default">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>


<script th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}" crossorigin="anonymous"></script>
</body>

</html>