<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加房源</title>
    <!-- 3.3.7版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<!-- 顶部栏调用 -->
<div th:replace="comnent/bars::topbar"></div>
<!-- 主体部分 -->
<div class="container-fluid">
    <div class="row">
        <!--侧边栏调用-->
        <div th:replace="comnent/bars::sidebar(textmutedUrl = 'addhouse')"></div>
        <!--右侧主体部分-->
        <!--jumbotron:将div整个模块的背景变为灰色-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="jumbotron d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <form class="form-horizontal" th:action="@{/emp}" method="post">
                    <input type="hidden" name="_method" value="put" th:if="${house != null}">
                    <input type="hidden" name="id" th:value="${house.house_id}" th:if="${house!=null}">
                    <!-- 房子地址  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">房子地址</label>
                        <div class="col-sm-4">
                            <input th:name="Address" th:class="form-control" th:id="Address" th:placeholder="房子地址"
                                   th:value="${house != null}?${house.house_address}">
                        </div>
                    </div>
                    <!-- 月租  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">月租</label>
                        <div class="col-sm-4">
                            <input th:name="Monthlyrent" th:class="form-control" th:id="Monthlyrent" th:placeholder="月租"
                                   th:value="${house != null}?${house.house_monthlyrent}">
                        </div>
                    </div>
                    <!-- 描述  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">描述</label>
                        <div class="col-sm-4">
                            <input th:name="Detail" th:class="form-control" th:id="Detail" th:placeholder="描述" th:value="${house != null}?${house.house_detail}">
                        </div>
                    </div>
                    <!-- 面积  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">面积</label>
                        <div class="col-sm-4">
                            <input th:name="Area" th:class="form-control" th:id="Area" th:placeholder="面积" th:value="${house != null}?${house.house_area}">
                        </div>
                    </div>

                    <!-- 用途  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">用途</label>
                        <div class="col-sm-4">
                            <input th:name="Use" th:class="form-control" th:id="Area" th:placeholder="用途" th:value="${house != null}?${house.house_use}">
                        </div>
                    </div>

                    <!-- 户型  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">户型</label>
                        <div class="col-sm-4">
                            <input th:name="Type" th:class="form-control" th:id="Type" th:placeholder="户型" th:value="${house != null}?${house.house_type}">
                        </div>
                    </div>

                    <!-- 楼层  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">楼层</label>
                        <div class="col-sm-4">
                            <input th:name="Floor" th:class="form-control" th:id="Floor" th:placeholder="楼层" th:value="${house != null}?${house.house_floor}">
                        </div>
                    </div>

                    <!-- 装修情况  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">装修情况</label>
                        <div class="col-sm-4">
                            <input th:name="Decoration" th:class="form-control" th:id="Decoration" th:placeholder="装修情况" th:value="${house != null}?${house.house_decoration}">
                        </div>
                    </div>

                    <!-- 租期  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">租期</label>
                        <div class="col-sm-4">
                            <input th:name="Renttime" th:class="form-control" th:id="rent_time" th:placeholder="租期" th:value="${house != null}?${house.rent_time}">
                        </div>
                    </div>

                    <!-- 修改/添加  -->
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-default" th:text="${house != null}?'修改':'发布'">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>


<script th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}" crossorigin="anonymous"></script>
</body>

</html>