<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- topbar 顶部栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <div class="row">
        <nav class="navbar navbar-inverse nav-stacked">
            <div class="container-fluid">
                <!-- 引用图标 -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- 显示系统名称 -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">房屋租赁系统</a>
                </div>
                <!-- 退出 -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>房屋租赁管理系统欢迎您</a></li>
                        <li><a th:text="房主用户 + ${session.loginUser}"></a></li>
                        <li ><a th:href="@{/login}">退出</a></li>
                        <li ><a>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</nav>
<!-- sidebar 侧边栏-->
<nav class="d-none d-md-block bg-light sidebar-sticky" th:fragment="sidebar">
    <ul class="nav nav-pills nav-stacked col-md-2 nav flex-column">
        <li role="presentation" id="bar-0">
            <a class="nav-header" th:href="@{/main.html}"
                th:class="${textmutedUrl == 'main.html' ? 'nav-header' : 'nav-header text-muted'}">
                <!--span的作用是调用图标-->
                <span class="glyphicon glyphicon-th"></span>
                首页
            </a>
        </li>

        <li role="presentation" id="bar-1">
            <a href="#docCollapse1" class="nav-header text-muted collapse" data-toggle="collapse" id="collapseParent1"
               th:class="${textmutedUrl == 'houselist' || textmutedUrl == 'addhouse' || textmutedUrl == 'publishedhouselist' ? 'nav-header collapse' : 'nav-header text-muted collapse'}">
                <!--span的作用是调用图标-->
                <span class="glyphicon glyphicon-home "></span>
                房源信息
                <!--向下的箭头-->
                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
            </a>
            <!--collapse in：作用是将折叠默认设置为展开状态。   collapse ：作用是将折叠默认设置为闭合状态。-->
            <ul id="docCollapse1" class="nav nav-list collapse in" >
                <li>
                    <a th:href="@{/published}" class="nav-header text-muted text-center"
                       th:class="${textmutedUrl == 'publishedhouselist' ? 'nav-header text-center' : 'nav-header text-muted text-center'}">已发布房源</a>
                </li>
                <li>
                    <a th:href="@{/emps}" class="nav-header text-muted text-center"
                       th:class="${textmutedUrl == 'houselist' ? 'nav-header text-center' : 'nav-header text-muted text-center'}">未发布房源</a>
                </li>
                <li><a th:href="@{/emp}" class="text-center"
                       th:class="${textmutedUrl == 'addhouse' ? 'nav-header text-center' : 'nav-header text-muted text-center'}">添加房源</a>
                </li>
            </ul>
        </li>

        <li role="presentation" id="bar-2">

            <a href="#docCollapse2" class="nav-header collapsed text-muted" data-toggle="collapse" id="collapseParent2"
               th:class="${textmutedUrl == 'houseapplylist' || textmutedUrl == 'rentmanagelist' ? 'nav-header collapse' : 'nav-header text-muted collapse'}">
                <!--span的作用是调用图标-->
                <span class="glyphicon glyphicon-jpy"></span>
                租赁信息
                <!--向下的箭头-->
                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul id="docCollapse2" class="nav nav-list collapse in">
                <li>
                    <a th:href="@{/houseapply}" class="text-center"
                       th:class="${textmutedUrl == 'houseapplylist' ? 'nav-header text-center' : 'nav-header text-muted text-center'}">租房申请</a>
                </li>
                <li>
                    <a th:href="@{/rentmanage}" class="text-center"
                       th:class="${textmutedUrl == 'rentmanagelist' ? 'nav-header text-center' : 'nav-header text-muted text-center'}">租金查看</a>
                </li>
            </ul>
        </li>

        <li role="presentation" id="bar-3">
            <a href="#docCollapse3" class="nav-header collapsed text-muted" data-toggle="collapse" id="collapseParent3"
               th:class="${textmutedUrl == 'showhousecontrat' ? 'nav-header collapse' : 'nav-header text-muted collapse'}">
                <!--span的作用是调用图标-->
                <span class="glyphicon glyphicon-list-alt"></span>
                合同信息
                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul id="docCollapse3" class="nav nav-list collapse in">
                <li><a th:href="@{/showhousecontract}" class="text-center"
                       th:class="${textmutedUrl == 'showhousecontrat' ? 'nav-header text-center' : 'nav-header text-muted text-center'}">合同查看</a></li>
<!--                <li><a th:href="@{/updatehousecontrat}" class="text-center"-->
<!--                       th:class="${textmutedUrl == 'updatehousecontrat' ? 'nav-header text-center' : 'nav-header text-muted text-center'}">合同修改</a></li>-->
            </ul>
        </li>

        <li role="presentation" id="bar-4">
            <a href="#docCollapse4" class="nav-header collapsed text-muted" data-toggle="collapse" id="collapseParent4"
               th:class="${textmutedUrl == 'owneraccount'||textmutedUrl == 'realname' ? 'nav-header collapse' : 'nav-header text-muted collapse'}">
                <!--span的作用是调用图标-->
                <span class="glyphicon glyphicon-user"></span>
                个人信息
                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul id="docCollapse4" class="nav nav-list collapse in">
                <li><a th:href="@{/accs}" class="text-center"
                       th:class="${textmutedUrl == 'owneraccount' ? 'nav-header text-center' : 'nav-header text-muted text-center'}">信息查看</a>
                </li>
                <li><a th:href="@{/owners}" class="text-center"
                       th:class="${textmutedUrl == 'realname' ? 'nav-header text-center' : 'nav-header text-muted text-center'}">实名认证</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<script th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}" crossorigin="anonymous"></script>

</body>
</html>