<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登录</title>
    <link th:href="@{/static/asserts/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/asserts/4.0.0/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/user/login}" method="post">
    <img class="mb-4" th:src="@{/static/asserts/4.4.1/img/bootstrap-solid.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>

    <!--错误提示-->

<!--    <div class="alert alert-warning alert-dismissible" role="alert">-->
<!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--        <span style="color:red" th:text="${msg}"  if="${not #strings.isEmpty(msg)}"></span>-->
<!--    </div>-->

    <span style="color:red" th:text="${msg}"  if="${not #strings.isEmpty(msg)}"></span>

    <!--  手机号  -->
    <label class="sr-only" th:text="#{login.username}">Username</label>
    <input th:value="${username}" type="text" name = "username" class="form-control" placeholder="Username" th:placeholder="#{login.username}">
<!--        <span aria-hidden="true">&nbsp;</span>-->
    <!--  密码  -->
    <label class="sr-only" th:text="#{login.password}">Password</label>
    <input th:value="${password}" type="password" name="password" class="form-control" placeholder="Password" th:placeholder="#{login.password}" >
    <!--    选择登录角色-->
    <label class="radio-inline">
        <input type="radio" name="role" id="optionsRadios1" value="owner" checked> 房主
    </label>
    <label class="radio-inline">
        <input type="radio" name="role" id="optionsRadios2"  value="rent"> 租户
    </label>

    <br />
    <span aria-hidden="true">&nbsp;</span>

<!--    <div class="checkbox mb-3">-->
<!--        <label>-->
<!--            <input type="checkbox" value="remember-me" th:placeholder="#{login.remember}" >[[#{login.remember}]]-->
<!--        </label>-->
<!--    </div>-->

    <a class="btn btn-lg btn-primary " th:text="#{login.signin_btn}" th:href="@{/signin}">Sign in</a>
    <button class="btn btn-lg btn-primary " type="submit" th:text="#{login.btn}" >Login in</button>

    <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
    <a class="btn btn-sm" th:href="@{/login(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/login(l='en_US')}">English</a>
</form>
<script th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
</body>

</html>
