<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>注册</title>
    <link th:href="@{/static/asserts/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/asserts/4.0.0/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/user/signin}" method="post">
    <img class="mb-4" th:src="@{/static/asserts/4.4.1/img/bootstrap-solid.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.signin_tip}">Please sign in</h1>
    <!--错误提示-->
    <p style="color:red" th:text="${msg}" if="${not #strings.isEmpty(msg)}"></p>
    <!--  手机号  -->
    <label class="sr-only" th:text="#{login.signin_phonenum}">Phonenum</label>
    <input th:value="${phonenum}" type="text" name = "phonenum" class="form-control" placeholder="phonenum" th:placeholder="#{login.signin_phonenum}">

    <!--  密码  -->
    <label class="sr-only" th:text="#{login.signin_password}">Password</label>
    <input th:value="${password}" type="password" name="password" class="form-control" placeholder="Password" th:placeholder="#{login.signin_password}" >
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me" th:placeholder="#{login.signin_remember}" >[[#{login.signin_remember}]]
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.signin_btn}" >Sign in</button>

    <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
    <a class="btn btn-sm" th:href="@{/login(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/login(l='en_US')}">English</a>
</form>

</body>

</html>
