<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人信息</title>
    <!-- 3.3.7版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<!-- 顶部栏调用 -->
<div th:replace="comnent/bars::topbar"></div>
<!-- 主体部分 -->
<div class="container-fluid">
    <div class="row">
        <!--侧边栏调用-->
        <div th:replace="comnent/bars::sidebar(textmutedUrl = 'houseowner')"></div>
        <!--右侧主体部分-->
        <!--jumbotron:将div整个模块的背景变为灰色-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="jumbotron d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <form class="form-horizontal" th:action="@{/own}" method="post">
                    <input type="hidden" name="_method" value="put" th:if="${house != null}">
                    <input type="hidden" name="id" th:value="${house.house_id}" th:if="${house!=null}">
                    <!-- 房主身份证号  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">房主身份证号</label>
                        <div class="col-sm-4">
                            <input th:name="Address" th:class="form-control" th:id="Address" th:placeholder="房主身份证号"
                                   th:value="${house != null}?${house.house_address}">
                        </div>
                    </div>
                    <!-- 姓名  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">姓名</label>
                        <div class="col-sm-4">
                            <input th:name="Monthlyrent" th:class="form-control" th:id="Monthlyrent" th:placeholder="姓名"
                                   th:value="${house != null}?${house.house_monthlyrent}">
                        </div>
                    </div>
                    <!-- 性别  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">性别</label>
                        <div class="col-sm-4">
                            <input th:name="Detail" th:class="form-control" th:id="Detail" th:placeholder="性别" th:value="${house != null}?${house.house_detail}">
                        </div>
                    </div>
                    <!-- 年龄  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">年龄</label>
                        <div class="col-sm-4">
                            <input th:name="Area" th:class="form-control" th:id="Area" th:placeholder="年龄" th:value="${house != null}?${house.house_area}">
                        </div>
                    </div>

                    <!-- 手机号  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">手机号</label>
                        <div class="col-sm-4">
                            <input th:name="Use" th:class="form-control" th:id="Area" th:placeholder="手机号" th:value="${house != null}?${house.house_use}">
                        </div>
                    </div>

                    <!-- 修改/添加  -->
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-default" th:text="${house != null}?'修改':'添加'">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>


<script th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}" crossorigin="anonymous"></script>
</body>

</html>